// base
body {
	font-family: $font-stack;
	background-color: $very-dark-blue;
	color: $white;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section {
	background-color: $dark-blue;
	padding: 30px;
	margin: 20px;
	border-radius: $border-radius;
	height: 400px;

	@media (min-width: 768px) {
		max-width: 400px;
	}
}

h1 {
	font-size: 2rem;
}

h2 {
	letter-spacing: $letter-spacing;
}

p {
	line-height: 1.5;
	color: $light-gray;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
