/* Font face */
@font-face {
	font-family: 'Overpass';
	src: url('/assets/fonts/Overpass_400.ttf') format('truetype');
	src: url('/assets/fonts/Overpass_400.woff') format('woff');
	src: url('/assets/fonts/Overpass_400.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Overpass';
	src: url('/assets/fonts/Overpass_700.ttf') format('truetype');
	src: url('/assets/fonts/Overpass_700.woff') format('woff');
	src: url('/assets/fonts/Overpass_700.woff2') format('woff2');
	font-weight: 700;
}
