// layout
.icon {
  display: flex;
  justify-content: center;

  &.star {
    background-color: $transparent;
    padding: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

// attribution
.attribution {
  padding-bottom: 20px;
  font-size: 14px;

  a { 
    color: $light-gray;
    text-decoration: none;

    &:visited {
      color: $orange;
    }

    &:hover {
        color: $white;
    }
  }
}