// utility classes
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	text-align: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap; /* Prevent line breaks */
}
